{$APP_DOMAIN} {
  root * /srv/my-admin/dist
  encode gzip zstd
  try_files {path} /index.html
  file_server
}

{$AUTH_DOMAIN} {
  reverse_proxy logto:3001
}

{$ADMIN_DOMAIN} {
  reverse_proxy logto:3002
}
